# Server port configuration
PORT=8080

# Prisma Database Access (Neon Cloud DB)
DATABASE_URL="postgresql://neondb_owner:npg_cZAomJR9b8KN@ep-long-mountain-a1cuuow8-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Cross-Service JWT verification secret
JWT_SECRET="SECRET_KEY"
